
@media only screen and (max-width: $breakpoint-tablet) {
  .jumbotron{
    flex-direction: column;
    margin: 0 !important;
    padding: 20px !important;
  }

  #about,
  .jumbotron,
  .navigation-bar{
    width: 100% !important;
  }

  .navigation-bar{
    margin:20px 0 0 0 !important;
    height: 10%;
  }

  .link{
    align-self: center;
    h4{
      font-size: 1.6rem;
    }
  }

  #about{
    height: 90%;
    margin: 0 !important;
  }
  
  #skills-container{
    flex-direction: row;
    .skill{
      width: 1.2rem;
      margin: 0;
    }
  }

  .navigation-bar ul{
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  #cards-container{
    justify-content: space-evenly;

    .card{
      width: 48%;
      margin: 0 0 20px 0;
      max-width: 48%;
    }
  }
}

@media only screen and (max-width: $breakpoint-phone) {
  #cards-container{
    justify-content: space-evenly;

    .card{
      width: 100%;
      max-width: 100%;
    }
  }

  .link{
    h4{
      font-size: 1.2rem;
    }
  }
}
