//colors 

$light-blue: #6AACDA;
$blue: #157DC6;
$white: #F9F9F9;
$gray:whitesmoke;
$light-black: #393E41;
$black:#2D3142;
$darkgray: rgba(170, 170, 170, 0.2);

//fonts

$font: 'Darker Grotesque', sans-serif;
$font2:  'Gayathri', sans-serif;

//media query breakpoints

$breakpoint-tablet: 768px;
$breakpoint-phone: 600px;