#about{
  width: 80%;
  background-color: $darkgray;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p{
    font-size: 1.4rem;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
  }
}

.jumbotron{
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
  background-color: $white;
}

.navigation-bar{
  background-color: $blue;
  width: 20%;
  margin: 20px 20px 20px 0;
  ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0;
  }
  font-family: $font2 !important;
}

.link {
  white-space: nowrap;
  animation: fromLeft 4s forwards;
  
  &:hover{
    transition: 1s ease;
    a {
      h4{
        transition: 1s ease;
        padding-left: 40px;
      }
    }
  }
  a{
    color: $white;
    text-decoration: none;
    h4{
      padding-left: 20px;
    }
  }
  list-style-type: none;
}

#my-name, .subtitle{
  font-family: $font2;
  letter-spacing: 3px;
}