@import './_variables';
@import './About.scss';
@import './Articles.scss';
@import './Certifications.scss';
@import './Contacts.scss';
@import './Footer.scss';
@import './Projects.scss';
@import './Skills.scss';
@import './_media-queries';
@import './_animations';

//html, body 
* {
  font-family: $font;
  font-weight: 400;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: $white;
  overflow-x: hidden;
}

//headers

h3{
  text-align: center;
  font-size: 2rem;
  color: $black;
  font-family: $font2;
}

.blue-text{
  color: $blue;
  font-weight: 600;
}

//buttons

.btn{
  border-radius: 0;
}

.btn.focus, .btn:focus{
  box-shadow: none;
}

#back-to-about{
  z-index: 3;
  background-color: $black;
  color: $white;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

button:hover{
  background-color: $black;
  transition: 1s ease;
}

//icons

.fas{
  font-size: small;
}

.fab{
  font-size: 1.4rem;
}

//portfolio sections

#certifications-container,
#articles-container, 
#contacts-container{
  height: 100vh;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  background-color: $darkgray;
}