$light-blue: #6AACDA;
// $blue: #6B7FD7;
$blue: #157DC6;
$white: #F9F9F9;
$gray:whitesmoke;
$light-black: #393E41;
$black:#2D3142;

$font: 'Darker Grotesque', sans-serif;
$font2:  'Gayathri', sans-serif;


*{
  font-family: $font;
  font-weight: 400;
  font-size: 2.5vmin;
}

/* Jumbotron */

body{
  overflow-x: hidden;
}

body, .jumbotron{
  background-color: $white;
}

#my-name{
  margin-top: 2vh;
  margin-bottom: 0;
}

#my-name, .subtitle{
  padding-top: 0;
  margin-left: 2vw;
  font-family: $font2;
}

.main-subtitle{
  color: $blue;
}

.one-subtitle{
  border-bottom: 2px solid $blue;
  margin-left: 2vw;
  margin-right: 2vw;
  padding: 2px 0;
  padding-left: 2vw;
  color: $blue;
}

.jumbotron{
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

#introduction{
  display: flex;
  width: 100vw;
  height: 100vh;
  font-size: 1.2em;
}

#introduction > div{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.links{
  background-color: $blue;
}

nav ul{
  width: 20vw;
}

.lead{
  padding: 2vw 2vh;
}

.lead{
  margin: 2vmin;
}

#lead-container{
  height: 80%;
}

#CV{
  background-color: $blue;
  color: $white;
  max-width: 15vw;
  margin-left: 2vw;
  text-align: center;
  padding: 1% 2%;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

#CV:hover, button:hover{
  background-color: $black;
  text-decoration: none!important;
  transition: 1s ease;
}

/* navbar */

.fas{
  font-size: small;
}

.link{
  padding-left: 2%;
  margin: 10% 0;
}

h4{
  font-size: 1.2rem;
}

.link:hover{
  transition: 1s ease;
  color: $black!important;
}

.link a{
  color: $white;
  padding-left: 0;
}

nav ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2vw;
  height: 100%;
}

.link{
  list-style-type: none;
}

/*skills*/

#skills{
  display: flex;
  justify-content: space-evenly;
  margin-left: 0;
  bottom: 0;
}

#skills-container{
  bottom: 2vh;
  width: 100%;
}

.skills{
  max-width: 4vw;
  margin-bottom: 2vh;
}

/*projects*/

.card-deck{
  display: flex;
  height: 100%;
  padding: 2vw;
  padding-top: 0;
}

.card-body{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.card-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card{
  min-width: 28%!important;
  margin: 2vw 1vw;
  max-width: 30vw;
}

#projects-container{
  height: 95%;
}

#projects{
  background-color: $gray;
  padding-top: 2vh;
}

.two-subtitle{
  margin-bottom: 0;
  margin-top: 1vh;
  text-align: center;
  color: $black;
}

.badge-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.badge-container > div{
  margin-right: 2%;
}

.project-name{
  font-family: $font2;
  margin: 2%;
  font-size: 2.5vmin;
}

.panel{
  color: $blue;
  cursor: pointer;
  opacity: 0;
  padding: 2%;
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel button{
  margin: 2%!important;
  border: none;
  width: 50%;
  background-color: $blue;
  margin: 10px;
  font-size: 1.2em;
}

.panel button a{
  color: $white;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  height: 100%;
}

.panel button:hover,
.panel button:active{
  background-color: $black!important;
}

.badge-pill{
  background-color: $blue;
  color: $white;
}

/* certifications */

#certifications{
  margin: 2%;
  color: $blue;
}

#certifications-container,
#articles-container, 
#contacts-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#articles-container{
  background-color: $gray;
}

.certifications a{
  cursor: pointer;
  font-size: 1.2em;
  color: $blue;
  
}

.date, .by{
  margin-bottom: 0;
}

.by{
  color: $light-blue;
}

.articles li a{
  color: $blue!important;
}

.articles li{
  background-color: transparent;
}

#articles{
  margin-bottom: 2vh;
}

.articles li a:hover{
  color: $black!important;
  text-decoration: none;
}

.fab, .fa-medium{
  color: $blue;
}

/* contacts */

#contacts{
  background-color: $blue;
  padding: 2%; 
  border-radius: 2vmin;
  color: $white;
}

#contacts > button{
  background-color: $black!important;
  $color: $white;
  outline: none;
  border:none;
}

input:focus, 
textarea:focus{
  box-shadow: 0 0 1pt 1pt $white!important;
  outline: none!important;
}

/*footer*/
#footer{
  margin: 0;
  color: $white;
  background-color: $blue;
  width: 100vw;
}

#footer .fab{
  color: $white;
}

.credits{
  padding: 0;
  width: 100vw;
}

/* Other */

.btn.focus, .btn:focus{
  box-shadow: none;
}


/* Media Query*/

@media only screen and (max-width: 600px) {
  
  #projects-container{
    height: auto;
  }

  .card{
    max-width: 100vw;
  }
}

@media only screen and (max-width: 800px) {

  #introduction{
    flex-direction: column;
  }

  .link{
    margin: 0;
  }

  .by, .date{
    font-size: 2vh;
    margin-left: 2%;
    padding-left: 2%;
  }

  #projects{
    height: auto;
  }

  .lead{
    padding: 0 10px!important;
    text-align: justify;
    font-size: 2.5vh!important;
  }

  .skills{
    width: 35px;
    height: 35px;
  }

  #projects-container, 
  #articles-container, 
  #certifications-container,
  #contacts-container{
    height: auto;
    padding: 10% 0;
  }

  .lead, b{
    font-size: 2vh;
  }

  .btn{
    padding: 0;
  }

  .portfolio{
    font-size: 3vh;
  }

  #lead-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
  }

  #skills{
    height: 10vh;
  }

  .link a{
    font-size: 2vh;
  }

  .link{
    text-align: center;
  }

  #CV{
    font-size: 2vh;
    max-width: 70vw;
    margin-left: 15vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #separator{
    margin-bottom: 3vh;
  }

  // .card *{
  //   max-width: 100%!important; 
  // }

  // .card-title{
  //   font-size: 3vh;
  // }

  // .card-text, 
  .form-control{
    font-size: 2vh;
  }

  .badge-pill{
    font-size: 1.5vh;
  }

  #certification-list{
    padding-right: 0;
  }

  .list-group-flush{
    padding-right: 0;
  }

  .list-group-item a{
    font-size: 2.5vh;
    margin-left: 2%;
  }

  #introduction > div{
    padding-left: 2%;
  }

  #skills{
    height: auto;
  }

  .skills{
    width: 12vw;
    height: 5vw;

  }

  // .card{
  //   height: 25vh;
  //   font-size: 3vh;
  //   max-width: 100vw;
  // }

  .panel *{
    font-size: 2.5vh;
  }

  nav ul{
    flex-direction: row;
  }
  .links{
    width: 100vw;
  }

  form *, #contacts > button, #contacts > input{
    font-size: 2.5vh;
  }

  #contacts > button{
    padding: 0 2%;
  }

  #footer{
    font-size: 2vh;
  }

  nav ul{
    width: 100vw;
  }

}

/* Animations */

@keyframes fadeIn{
  0% { 
    visibility: visible; 
    color: transparent
  }
  100% { 
    visibility: visible;
    color: $blue
  }
}

@keyframes fromLeft{
  from{
    padding-left: 100%;
  }

  to{
    padding-left: 0;
    padding-right: 2%;
  }
}

.link a:hover {
  transform: scale(1.1);
  padding-left: 5%;
  transition: 1.5s ease;
  color: $black !important;
}

.link{
  overflow: hidden;
  white-space: nowrap;
  animation: fromLeft 2s forwards;
}


.type{
  visibility: hidden;
  animation-delay: 2s!important;
  animation: fadeIn 2s forwards;
}