$text-info: #17a2b8;
$light: #D4EEF2;
$light-black: #343a40;
$lighter-black: #464B51;

#project-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card{
  position: relative;
  overflow: hidden;
  max-height: 50%;
}

.panel{
  opacity: 0;
  padding: 2%;
  background-color: $light;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel button{
  margin: 2%!important;
  width: 50%;
  margin: 10px;
  font-size: 1.2em;
}

.panel button a{
  color: $light!important;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  height: 100%;
}

.jumbotron{
 position: relative;
 min-height: 100vh;
 border-radius: 0 !important;
 background-image: url("http://workforce.rice.edu/files/2017/09/bulbs-1663es2.jpg");
 background-repeat: no-repeat;
 background-size:100% 100%;
 padding: 0!important;
}

.jumbotron>div{
  padding-top: 10%!important;
  background-color: rgba(0,0,0,0.65);
  min-height: 100vh;
  width: 100%;
  height: 100%;
  color: $light;
  text-shadow: 2px 2px 20px black;
  padding: 20px;
}

.display-4{
  padding-top: 5%;
}

.card-deck,
.card{
    margin: 2% !important;
}

.card{
  max-width: 40vw!important;
  border: none !important;
  box-shadow: 0 0 2pt 3pt $light;
}

body{
  background: $light-black!important;
  overflow-x: hidden;
}

.navbar-toggler:focus{
  outline: none;
  box-shadow: 0 0 1pt 1pt $text-info;
}

#skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-deck{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap!important;
}

.navbar{
  background-image: linear-gradient(to right, $light-black, $light-black, #17a3b870, $light-black, $light-black);
}

.badge-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.badge-pill{
    margin: 5px;
}

.card{
  min-width: 28%!important;
}

.navbar-collapse{
  width: 100vw!important;
}

.card-img-top{
  opacity: 0.7;
  position: relative;
}

a{
  color: $text-info !important;
}

.skills{
  animation: pulse 2s ease infinite;
  background: $light-black;
  border-radius: 10%;
  width:80px;
  box-shadow: none;
}

.skills:hover{
  opacity: 0.9;
  transform: scale(1.1);
  transition: 1s ease;
}


#projects, #certifications, #articles, .ps > a, .ps{
  color: $light;
}

.card:hover{
  box-shadow: 0 0 2pt 3pt $text-info;
  cursor: pointer;
  transition: 1s ease;
}

.card:hover img{
  opacity: 1;
  transition: 1s ease;
}

#contacts, #gform, #articles{
  margin-top: 1em;
}

#form{
  color: $light;
}

#contacts{
  background-color: $light;
  border-radius: .25rem;
  box-shadow: 0 0 1pt 1pt $light;
  padding: 1em;
}

#certifications, .container, #form{
  margin-bottom: 1em;
}

.fa-star{
  font-size: 0.5em!important;
}

.certifications a{
  cursor: pointer;
  font-size: 1.2em;
}

.list-group-flush{
  color: $light;
}

.list-group-flush .list-group-item{
  background-color: $light-black;
  border-color: $light;
}

.fa-free-code-camp{
  margin-right: 10px;
}

#hey-there, .portfolio,
#projects, .skills-text, 
#certifications, .ps > a, .ps, 
#form, #articles, #footer, .panel button a,
.project-name
{
  font-family: 'Cookie', cursive;
  letter-spacing: 3px;

}

.project-name{
  font-size: x-large;
}

.alert{
  margin: 2%;
}

#footer{
  margin: 0;
  color: $text-info;
}

input:focus, 
textarea:focus{
  box-shadow: 0 0 1pt 1pt $text-info!important;
}

.articles li a{
  color: $light!important;
}

.articles li a:hover{
  color: $text-info!important;
}

.ul{
 display: flex;
 justify-content: flex-end;
}

*{
  font-family: 'Inconsolata', monospace;
}

.lead{
  font-weight: 500!important;
}

h2, h3{
  font-weight: 600 !important;
}

.dropdown-menu{
  border:none!important;
}

#separator, 
hr.separator2{
  margin: 2%;
  border-top: none;
  height: 1px;
}

#separator{
  background-image: linear-gradient(to right, transparent, $text-info, transparent);
}

hr.separator2{
  background-image: linear-gradient(to right, transparent, $light, transparent)!important;
}

.nav-item a.text-info:hover,
.dropdown-menu a.text-info:hover{
  color:$light!important;
  background-color: $light-black!important;
  transition: 1s ease;
}


#hey-there{
  overflow: hidden; 
  border-right: .01em solid; 
  white-space: nowrap;
  margin: 0 auto; 
  letter-spacing: .01em; 
  font-size: 7vh;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.skill-btn:focus{
  box-shadow: none;
}

@keyframes typing {
  from { width: 0; text-shadow: none }
  to { width: 100%;   text-shadow: 2px 2px 20px black; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $light; }
  100%{ border-color: transparent; }
}

@media only screen and (max-width: 300px) {
  #hey-there{
    font-size: 5vh;
  }

  .card-deck{
    justify-content: center!important;
  }
}