$text-info: #17a2b8;
$light: #D4EEF2;
$light-black: #343a40;
$lighter-black: #464B51;
$cursive: 'Cookie', cursive;
$normal: 'Inconsolata', monospace;


#project-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card{
  position: relative;
  overflow: hidden;
  max-height: 50%;
}

.navbar-nav .nav-link {
  color: $light!important;
}

form{
  border-radius: 20px!important;
}

label{
  color: $light;
}

#about{
  overflow-x: hidden;
  width: 100vw;
  padding: 20px;
  // background-image:linear-gradient(to left, $text-info, $light-black);
}

.panel{
  opacity: 0;
  padding: 2%;
  background-color: $light;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel button{
  margin: 2%!important;
  width: 50%;
  margin: 10px;
  font-size: 1.2em;
}

.panel button a{
  color: $light!important;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  height: 100%;
}

#contacts-container{
  height: 100vh;
  background-color: $light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jumbotron{
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 100vh;
 background-color: $light;
 top: 0;
 border-radius: 0 !important;
 padding: 0!important;
 margin: 0;
}

#clear{
  // background-color: rgba(255,255,255,0.5);
  // background-image: linear-gradient(to right, $light, transparent);
  margin: 0 35px;
  border-radius: 20px;
  padding: 5px 0;
}

.label{
  color: $text-info;
}

.card-deck{
  padding: 2%;
}


.card{
  max-width: 10vw!important;
  border: none !important;
  box-shadow: 0 0 2pt 3pt $light;
  margin: 2%;
}

body{
  overflow-x: hidden;
  background: $light-black;
}

.navbar-toggler:focus{
  outline: none;
  box-shadow: 0 0 1pt 1pt $text-info;
}

.links ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

.link a{
  border-radius: 10px;
  // border: 1px solid $light-black;
  font-size: 2.5vh;
  color: $light-black !important;
  text-decoration: none;
  background-image: none;
  // font-size: x-large;
  // letter-spacing: 3px;
  font-family: 'Darker Grotesque', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5pt;
}

.link a:hover{
  cursor: pointer;
  transition: ease 1s;
  border-color : $light-black;
  transform: scale(1.1);
}

.date, .by{
  margin-bottom: 0;
}

.by{
  letter-spacing: 1px;
  color: $light-black;
}

.date{
  color: $lighter-black;
  font-size: smaller;
}

#skills{
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  // background-image:linear-gradient(to left, $text-info, $light-black);
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-evenly;
  width: 100vw;
}

.card-deck{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap!important;
}

.navbar{
  position: absolute;
  z-index: 3;
  width: 100vw;
}

.badge-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.badge-pill{
    margin: 5px;
}

.card{
  min-width: 28%!important;
}

.navbar-collapse{
  width: 100vw!important;
}

.card-img-top{
  display: none;
  position: relative;
  border-radius: 50%;
  left: 25%;
  width: 50%;
}

a{
  color: $text-info !important;
}

.skills{
  // background: rgba(255,255,255,0.1);
  border-radius: 10px;
  padding: 15%;
  width:80px;
  height:80px;
  box-shadow: none;
}

.skill-btn{
  position: relative;
}

.skills:hover{
  opacity: 0.9;
}

#articles-container{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#projects, #articles, .ps > a, .ps{
  color: $light;
}

#projects{
  margin-top: 2em;
}

.card:hover{
  box-shadow: 0 0 2pt 3pt $text-info;
  cursor: pointer;
  transition: 1s ease;
}

.card:hover img{
  opacity: 1;
  transition: 1s ease;
}

#contacts, #articles{
  margin-bottom: 1em;
}

#form{
  color: $light-black;
}

#contacts{
  background-image: linear-gradient(45deg, $light-black, $text-info);
  box-shadow: 0 0 1pt 1pt $text-info;
  border-radius: .25rem;
  padding: 2em;
}

#certifications, 
.container, #form{
  margin-bottom: 1em;
}

.fa-star{
  font-size: 0.5em!important;
}

.certifications a{
  cursor: pointer;
  font-size: 1.2em;
}

.list-group-flush{
  color: $light;
}

.list-group-flush .list-group-item{
   background-color: transparent;
  border-color: $light;
}

.fa-free-code-camp{
  margin-right: 10px;
}

.portfolio{
  color: $light;
}

#projects-container{
  height: 100vh;
}

.portfolio,
#projects, .skills-text, 
#certifications, .ps > a, .ps, 
#form, #articles, #footer, .panel button a,
.project-name
{
  font-family: 'Cookie', cursive;
  letter-spacing: 3px;
}

#certifications-container{
  height: 100vh;
  color: $light-black;
  background-color: $light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-name{
  font-size: x-large;
}

.alert{
  margin: 2%;
}

#footer{
  margin: 0;
  color: $light;
}

input:focus, 
textarea:focus{
  box-shadow: 0 0 1pt 1pt $text-info!important;
}

.articles li a{
  color: $light!important;
}

.articles li a:hover{
  color: $text-info!important;
}

.ul{
 display: flex;
 justify-content: flex-end;
}

*{
 font-family: 'Darker Grotesque', sans-serif;
 font-size: 2.5vh;
}

#spinner-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.lead{
  font-weight: 500!important;
  color: $light-black;
  font-size: 3vh;
  padding: 0 50px;
}

b{
  font-size: 3vh;
}

h2, h3{
  font-weight: 600 !important;
}

.dropdown-menu{
  border:none!important;
}

#separator{
  width: 100%;
  border-top: none;
  height: 1px;
  background-image: linear-gradient(to right, $light-black, $text-info);
}

.dropdown-menu a{
  font-size: smaller;
}


.dropdown-item:hover{
  background-color: $light!important;
  transition: 1s ease;
}

.nav-link:hover{
  color: $text-info!important;
  transition: 1s ease;
}

.skill-btn:focus{
  box-shadow: none;
}

@media only screen and (max-width: 300px) {
  #hey-there{
    font-size: 5vh;
  }

  .card-deck{
    justify-content: center!important;
  }
}

@media only screen and (max-width: 800px) {
  .skills{
    width: 35px;
    height: 35px;
  }

  .lead, b{
    font-size: 2vh;
  }

  .links ul{
    padding-left: 5%;
  }

  .btn{
    padding: 0;
  }

  .portfolio{
    font-size: 3vh;
  }

  #skills{
    height: 10vh;
  }

  .link a{
    font-size: 2vh;
  }

  #separator{
    margin-bottom: 3vh;
  }

  .card{
    max-width: 100%!important; 
  }

  #certification-list{
    padding-right: 0;
  }

  .list-group-flush{
    padding-right: 0;
  }

  #skills{
    height: auto;
  }
}