.articles {
  a{
    text-decoration: none;
    li{
      margin: 20px;
      color: $blue;
      border-radius: 0!important;
      border: 0;
      background-color: $white;
      font-size: 1.5rem;
      &:hover{
        color: $black;
        transition: 1s ease;
      }
      .fa-medium{
        margin-right: 20px;
      }
    }
  }

  .list-group{
    padding: 0;
  }
}